

body {

    font-family: 'Libre Barcode 39 Text', cursive;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    background-color: #5ebd81;


}

.menu {
    list-style-type: none;
    overflow: hidden;
    background-color: #5ebd81;
    margin-right: 5px;
}

nav li {
    float: left;
}


nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

nav li a:hover:not(.active) {
    background-color: #111;
    text-decoration:none;
}


.intro{
    float: left;
    clear: left;
}

img {
  border-radius: 50%;
}

ul li h2 {
    color: #cc192c;
}

.insidelist{
    font-size: 0.75em;
}


* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

  
@media screen and (max-width: 900px){
  .column {
        width: 100%;
      }


       nav ul li{
        display: block;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 0px;
        margin-left: 0px;
        float:none;
       }

        nav ul li a{
        font-size: 18px;
        text-align: left;
       }

       img {
        display:none;
       }  

       h1{   
        font-size:23px}

       h2{
        font-size: 18px;
       }
}
