body {

    font-family: 'Libre Barcode 39 Text', cursive;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    background-color: #5ebd81;
    font-size: 18px;
}

.menu {
    list-style-type: none;
    overflow: hidden;
    background-color: #5ebd81;
    margin-right: 5px;
}

nav li {
    float: left;
}


nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

nav li a:hover:not(.active) {
    background-color: #111;
    text-decoration:none;
}


* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


img{
     float: left;
     clear: left;
     border-radius: 50%;
     border:2px dotted white;
     margin: 100px 100px;
}


p{
   font-size:18px;
   font-weight: bold;
}

p#contact{
    text-align: center;
}

input {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    width: 30%;
    border-radius: 5%;
    border:2px dotted black;
    height: 50px;
    padding: 12px 12px;   
}


textarea {
    width: 40%;
    font-size: 18px;
    border-radius: 5%;
    border: 2px dotted black;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-family: 'Montserrat', sans-serif;

}


input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.socialmedia {
   margin-left: 200px;
}

.fab {
    padding: 15px;
    font-size: 23px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
}


.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white; 
  padding: 12px;
}



@media screen and (max-width: 900px){
  .column {
        width: 100%;
      }


       nav ul li{
        display: block;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 0px;
        margin-left: 0px;
        float:none;
       }

        nav ul li a{
        font-size: 18px;
        text-align: left;
       }

       img {
        display:none;
       }  

       h1{   
        font-size:23px}

    .socialmedia {
     margin-left: 120px;
     }

    .fab {
       padding: 5px;
       font-size: 18px;
       width: 30px;
       height: 30px;
       text-align: center;
       text-decoration: none;
       border-radius: 50%;
     }

}
